.cardContainer {
  width: 100%;
  height: auto;

  padding: 40px;
  background-color: colors.$gray500;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 2px;

  display: flex;
  flex-direction: column;

  @include device.tablet {
    padding: 20px;
  }

  @include device.mobile {
    padding: 10px;
  }
}

.imageContainer {
  width: 100%;
  height: 270px;
  position: relative;

  margin-bottom: 25px;

  @include device.tablet {
    height: 226px;
  }

  @include device.mobile {
    height: 112px;
    margin-bottom: 10px;
  }
}

.soldOutIconWrapper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.soldoutIcon {
  width: 230px;
  height: 230px;

  @include device.tablet {
    width: 200px;
    height: 200px;
  }

  @include device.mobile {
    width: 112px;
    height: 112px;
  }
}

.chip {
  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 3;
}

.image {
  opacity: 0.3;
}

.informationContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.title {
  @include fonts.base-bold-22;
  color: colors.$white;

  @include device.mobile {
    @include fonts.base-bold-14;
  }
}

.underline {
  width: 100%;
  height: 1px;

  border-bottom: 1px solid colors.$gray400;
}

.informationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exchangeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  @include device.tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.gradeContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  @include device.mobile {
    gap: 5px;
  }
}

.makerContainer {
  text-align: right;
}

.exchangeMakerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.bar {
  @include fonts.base-regular-16;
  color: colors.$gray400;
  display: block;

  &.exchange {
    @include device.tablet {
      display: none;
    }
  }
}

.genre {
  @include fonts.base-regular-16;
  color: colors.$gray300;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.maker {
  @include fonts.base-regular-16;
  color: colors.$white;
  text-decoration: underline;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.point {
  @include fonts.base-regular-16;
  color: colors.$white;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.quantityInformationContainer {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 40px;

  @include device.mobile {
    margin-bottom: 10px;
  }
}

.quantityContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.remainContainer {
  display: flex;
  gap: 5px;
  align-items: center;
}

@mixin base-quantity-style {
  @include fonts.base-light-16;
  color: colors.$gray300;

  @include device.mobile {
    @include fonts.base-light-10;
  }
}

.quantityTitle {
  @include base-quantity-style;
}

.totalQuantity {
  @include base-quantity-style;
}

.quantityContent {
  @include fonts.base-regular-18;
  color: colors.$white;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.description {
  @include fonts.base-regular-16;
  color: colors.$white;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.logoContainer {
  width: 100%;
  height: auto;

  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;

  @include device.mobile {
    display: none;
  }
}

.logofavicon {
  width: 100px;
  height: 18px;
}

.buttonContainer {
  width: inherit;
  display: flex;
  gap: 20px;

  margin-top: 20px;

  @include device.mobile {
    gap: 5px;
  }
}
