.cardContainer {
  width: 100%;
  height: auto;

  padding: 40px;
  background-color: colors.$black;
  border: 2px solid colors.$gray500;
  border-radius: 2px;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.imageContainer {
  width: 100%;
  height: 270px;
  position: relative;

  margin-bottom: 25px;

  @include device.tablet {
    height: 226px;
  }

  @include device.mobile {
    height: 112px;
    margin-bottom: 10px;
  }
}

.soldOutIcon {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  z-index: 3;
}

.chip {
  position: absolute;
  top: 10px;
  left: 10px;

  z-index: 3;
}

.image {
  opacity: 0.3;
}

.informationContainer {
  width: 100%;
  height: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;

  margin-bottom: 20px;
}

.title {
  @include fonts.base-bold-22;
  color: colors.$white;

  @include device.mobile {
    @include fonts.base-bold-14;
  }
}

.underline {
  width: 100%;
  height: 1px;

  border-bottom: 1px solid colors.$gray400;
}

.informationWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.exchangeWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 20px;

  @include device.tablet {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}

.gradeContainer {
  display: flex;
  align-items: center;
  gap: 10px;

  margin-right: 10px;

  flex-shrink: 0;
  flex-basis: 1;
}

.makerContainer {
  text-align: right;
  flex-grow: 1;
}

.exchangeMakerContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}

.bar {
  @include fonts.base-regular-16;
  color: colors.$gray400;
  display: block;

  &.exchange {
    @include device.tablet {
      display: none;
    }
  }
}

.genre {
  @include fonts.base-regular-16;
  color: colors.$gray300;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.maker {
  @include fonts.base-regular-16;
  color: colors.$white;
  text-decoration: underline;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}

.point {
  @include fonts.base-regular-16;
  color: colors.$white;

  @include device.mobile {
    @include fonts.base-regular-10;
  }
}
