.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.option_label {
  color: colors.$white;
  @include fonts.base-regular-20;

  @include device.tablet {
    @include fonts.base-regular-18;
  }
}

.priceWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}

.price {
  color: colors.$white;
  @include fonts.base-bold-24;

  @include device.tablet {
    @include fonts.base-bold-20;
  }
}

.quantity {
  color: colors.$gray300;
  @include fonts.base-regular-20;

  @include device.tablet {
    @include fonts.base-regular-18;
  }
}

.buttonWrapper {
  margin-top: 80px;

  @include device.tablet {
    margin-top: 40px;
  }
}
