.container {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @include device.mobile {
    gap: 10px;
  }
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.line {
  width: inherit;
  border-bottom: 1px solid colors.$white;
}
