.text {
  @include fonts.main-title-40;
}

.buttonWrapper {
  width: 520px;

  @include device.tablet {
    width: 440px;
  }

  @include device.mobile {
    width: 345px;
  }
}

.title {
  @include fonts.main-title-40;
}

.main {
  position: relative;
}

.commonHeaderContainer {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;

  @include device.mobile {
    display: block;
  }
}
