$black: var(--black);
$gray500: var(--gray500);
$gray400: var(--gray400);
$gray300: var(--gray300);
$gray200: var(--gray200);
$gray100: var(--gray100);
$white: var(--white);
$red: var(--red);
$blue: var(--blue);
$purple: var(--purple);
$pink: var(--pink);
$main: var(--main);
