.grade {
  &.card {
    @include fonts.base-light-16;

    @include device.mobile {
      @include fonts.base-light-10;
    }
  }

  &.detail {
    @include fonts.base-bold-24;

    @include device.mobile {
      @include fonts.base-bold-18;
    }
  }

  &.common {
    color: colors.$main;
  }

  &.rare {
    color: colors.$blue;
  }

  &.super_rare {
    color: colors.$purple;
  }

  &.legendary {
    color: colors.$red;
  }
}
