.container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 5px;

  padding: 8px 20px;
  flex-shrink: 0;
  flex-basis: 1;

  background-color: colors.$black;
  @include fonts.base-light-16;

  &.common {
    border: 1px solid colors.$main;
    color: colors.$main;
  }
  &.rare {
    border: 1px solid colors.$blue;
    color: colors.$blue;
  }
  &.super_rare {
    border: 1px solid colors.$purple;
    color: colors.$purple;
  }
  &.legendary {
    border: 1px solid colors.$red;
    color: colors.$red;
  }

  @include device.tablet {
    padding: 6px 10px;
    @include fonts.base-light-14;
  }

  @include device.mobile {
    padding: 6px 10px;
    @include fonts.base-light-12;
  }
}

.grade {
  flex-basis: 1;
  flex-shrink: 0;
  text-wrap: nowrap;
}

.count {
  flex-basis: 1;
  flex-shrink: 0;
  text-wrap: nowrap;
}
